.social_icons {
  display: flex;
  font-size: 25px;
  cursor: pointer;
}

.fa {
  border-radius: 50%;
  margin: 8px;
}
.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13.5px;
}
.fa-facebook a {
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13.5px;
}
.fa-twitter a {
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13.5px;
}
.fa-linkedin a {
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13.5px;
}
.fa-youtube a {
  color: white;
}
.copyright {
  color: white;
  text-align: center;
  bottom: 0;
  margin-top: 2.7rem;
}
.footer {
  width: 100%;
  height: 35vh;
  bottom: 0;
  margin-top: 10rem;
  background-color: rgb(31, 31, 31);
}

.footer_items {
  display: flex;
  justify-content: space-around;
}

.item-left {
  margin-top: 2.7rem;
  color: white;
}
.item-left a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 400;
}
.item-right {
  margin-top: 2rem;
}
.item-right h4 {
  color: white;
  margin-bottom: 24px;
}
